@import '../styles/styles.module.scss';

.section {
  @extend .sectionFullScreen;
  background: #061C43;
  position: relative;
  display: flex;
  &::after {
    content: "";
    width: 100%;
    flex: 1 1 40%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/how-we-do-it.png);
  }

}

.content {
  display: flex;
  position: relative;
  display: inline-block;
  margin: 120px 60px 120px 240px;
  position: relative;
  width: 50%;
  flex:  0 0 50%;
  display: flex;
  flex-direction: column;
}

.contentImage {
  display: flex;
  position: relative;

}