@import '../styles/styles.module.scss';

.homeBackground { 
  @extend .section;
  height: 100vh;
  max-height: 1024px;
  background-image: url(triangles.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #FFD77C;
  display: flex;
  background-position: bottom;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   top: 0;
  //   right: 0;
  //   border-style: solid;
  //   border-width: 0 100px 100px 100px;
  //   border-color: $lightGray $lightGray transparent transparent;
  //   z-index: 0;
  // }
}

.content {
  display: inline-block;
  margin-top: 172px;
  position: relative;
  width: 60%;
  flex:  0 0 60%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 32px;
}

.contentImage {
  display: flex;
  position: relative;
  &::after {
    content: "";
    width: 40%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./computer.png);
  }
}

.homeImage{
  position: absolute;
  width: 25%;
  left: 65%;
  top: 35%;
}

.logoOne{
  font-weight: 300;
  font-size: 90px;
}

.kilnMoto{  
  width: 45%;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 105.68%;
  color: #FFFFFF;
}

.kilnGreeting{
  width: 45%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #26334A;
}

.actionGroup {
  margin-top: 32px;
}

