@import '../styles/styles.module.scss';

.section {
  @extend .sectionFullScreen;
  background: #FFD77C;
  position: relative;
  display: flex;
  &::after {
    content: "";
    width: 100%;
    flex: 1 1 40%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url(contact-us-image.png);
  }

}

.content {
  display: flex;
  position: relative;
  display: inline-block;
  margin: 120px 100px 120px 240px;
  position: relative;
  width: 50%;
  flex:  0 0 25%;
  display: flex;
  flex-direction: column;
}

.contentImage {
  display: flex;
  position: relative;
}

.form {
  padding-bottom: 20px;
}